.our-approach{
    padding: 65px 0;
    position: relative;
    @include slide--up(2s, 4s);
    @include respond-to(768){
        padding: 30px 0;
    }
    
    &__contents{
        p{
            font-family: CharterBT;
            font-size: 3rem;
            color: $text-gray-2;
            letter-spacing: 0.12px;
            line-height: 43.15px;
            margin: 50px 0;
            @include respond-to(768){
                font-size: 1.5rem;
                margin: 30px 0;
            }
        }
        a{
            font-family: CharterBT;
            font-size: 2.25rem;
            color: $text-blue-2;
            letter-spacing: 0.16px;
            line-height: 57.54px;
            @include respond-to(768){
                font-size: 1.125rem;
            }
            &:hover{
                text-decoration: underline;
                font-style: italic;
                opacity: 1;
            }
        }
    }

    .image-after{
        margin-top: -15%;
        @include respond-to(767){
            margin-top: 5%;
        }
    }
}
.our-approach__text{
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
    @include respond-to(768){
        padding: 30px 0;
        width: 90%;
    }
    p{
        font-family: CharterBT;
        font-size: 2.25rem;
        color: $text-blue;
        letter-spacing: 0.12px;
        line-height: 43.15px;
        margin: 0;
        @include respond-to(768){
            font-size: 2rem;
        }
    }
}