include ../../mixin/title.pug
+title('Towards Safe Harbour','','')
.body-article.padding-x-55
    .article
        .article__item_box
            .article_item
                img(src="./assets/imgs/item-blog-i.png",alt="james lewis")
                .article_content
                    h4 A Your Business Angels product
                    .context
                        p that works with you to solve those hard problems you have, tax debt, lack of cash flow, dealing with a difficult market, staying compliant and beginning to protect your assets such as your home by eliminating the risks in your business.
                    h5 Introduction
                    p In the corporation Act 2001 – SECT 588GA that deals with Safe Harbour and is about directors taking a course of action reasonably likely to lead to a better outcome for the company. This piece of legislation leaves the burden of proof that this has been carried out on the director or directors. 
                    p The legislation was written to give directors “a chance” of turning a business around by making the right decisions and keep going, but of course the “Sword of Damascus” sits over the director to prove that the actions have been carried out it seems (and if I am not using too many metaphors or sayings) a hot potatoes for consultants and the insolvency industry.
                    span Not for the folks at Your Business Angels.
        .article__item_box
            .article__item1
                img(src="./assets/imgs/item-blog-i.png",alt="james lewis")
                .article_content
                    h4 Creating Channel markers <br/>Your Business channel markers
                    .context
                        p 
                            | We have created “Towards Safe Harbour” not only as a product that helps directors make better decisions about their business in times of strife, but for all our clients running a business. This product creates 
                            span channel markers by which to guide your business in all times. 
                        p Using Your Business Angels “Towards Safe Harbour” is a tool for all businesses, which help keep them compliant, balance sheet strong and in a financial position to take every opportunity possible in driving forward. It is a series of checks and processes. It is about being on top of the accounts and financial position of the business, and it is about stopping and planning the business 
                        p steps with the team at Your Business Angels. Remember why you went into business – to have a great income and perhaps a great business to sell when it comes time.
                    h5 Our client’s responsibility
                    p The person bears an evidential burden in relation to the matter, but Your Business Angels will use the legislation to provide guidance for our clients. We will work on the accounts, and look for additional profit. We will look for opportunity and great strategies. Whilst we do this important work, our clients can focus on running their business profitably by serving their clients and driving their team forward.

.padding-x-55
    hr