.wrapper-child
    .container-fluid
        .block-content
            p 
                | As part of our program for Australian businesses, 
                span Your Business Angels
                |  brings solutions, clarity and plans for small to large businesses.
            p   
                | Afterall for more than 25 years, the Your Business Angels team have been doing just that, 
                span working hard to give courage to our customers 
                | because our team knows how important it is for you to have a partner at your side offering reliable, sustainable solutions for the difficult road ahead.
            p   
                span Your Business Angels strive to do it right with passion every day. 
            p
                |  Join our growing list of clients who know that every day, and in every way, their needs are taken care of, their goals become our goals and their passions and beliefs ours. Check our full suite of 
                span accounting
                |, 
                span consulting
                |  and turnaround solutions that serve many industries.