.blog.padding-x-55
    .filter
        p Filter:
        button(value="Services") Services
        span |
        button(value="Economic Crisis") Economic Crisis
        span |
        button(value="Tax") Tax
        span |
        button(value="The Elephant In The Room") The Elephant In The Room
        span |
        button(value="Swimming To Safe Harbour") Swimming To Safe Harbour
    .card-columns
        #listCard
    .blog__loading-more
        a(href="javascript:void(0)").more Loading more words …