include ../../mixin/title.pug
.container-fluid
    +title('Why choose Your Business Angels accounting', '<span>From the practical to the crafty. The strengths and risks of any business exist within the accounts.</span> The Team at Your Business Angels can see threats and correct them. They will see opportunities and strengths, and help the owner take advantage of them.','w-90')
        p We are here for those who have a plan, and those that do not have a plan.
    .accounting.padding-x-55
        .row.pt-3.pt-md-5
            .offset-md-4.col-md-8.col-12
                .row
                    .col-md-6.col-12
                        h4 Our Job
                        p Our job is to love and care for that client. We make sure clients 
                            |get the best advice and service. We meet compliance deadlines and follow-up 
                            |on “must do” jobs. 
                    .col-md-6.col-12
                        h4 Our clients
                        p Our clients work closely with accountants and consultants to help solve 
                            |problems, answer questions, and give excellent solutions. The simple 
                            |things matter. We get back to any query the same day. 
                    .col-md-6.col-12
                        h4 We celebrate
                        p We celebrate when clients have a “victory” in their business. Not all news 
                            |is good news. We tell you when things are going wrong. At Your Business Angels, 
                            |we will talk to you about a concern and provide a solution, Maybe take on the 
                            |taxman and deal with difficulties when and if they arise. With COVID, you want 
                            |to know where you stand, what the risks are and what is the new normal. 
                    .col-md-6.col-12
                        h4 Business Owners
                        p All business owners need their accountants to give them love and attention in a 
                            |different way from the practical to the crafty. OH! In all of this, we must 
                            |mention “Bas and Tax”.  Join our growing list of clients who know that every day, 
                            |and in every way, their needs are taken care of, their goals become our goals and 
                            |their passions and beliefs ours.