include ../../mixin/title.pug
.container-fluid
    +title('Why choose Your Business Angels consulting','<span>What is the biggest driver of our consultancy?</span><br/>That your business becomes as profitable as it can be (on a cash basis). Profit pays debt, profit drives the business forward and profit gives you the reward for all your hard work.')
    .business-consulting.padding-x-55.slide--up
        .content-box-left
            p 
                | Because Your Business Angels have spent over 25 years solving problems, 
                span have developed a culture of finding solutions and opportunities in every difficulty. 
        .content-box-right
            p
                | Be it the problem is an appropriate wake-up call, or a marketing opportunity or a growth opportunity. Your Business Angels have developed great solutions that can, in any circumstances, be called “crafty.” The Team at Your Business Angels have learnt to travel and traverse the difficult roads and byways in accounting and business life in Australia for their clients. The team loves to hear problems that clients must find a solution for. We have a bag full of answers, and we can always find one for you.