.wrapper-child
    .container-fluid
        .block-content__contact
            p   -
            p
                a(href="") Contact us
                |  anytime by email, or give us a call.
            p
                | Oh please check out our 
                a(href="") free resource library on our helpful blogs.