include ../../mixin/title.pug
.container-fluid
    +title('Financial habits that make you rich','You can drink to be rich, but you need <span>“rich people”</span> habits to be rich')
    .financial-habit.padding-x-55
        p 
            | What is the difference between a rich tradie and a poor tradie? <br/>
            | What is the difference between a rich manufacturer and a poor manufacturer? <br/>
            | The real differences are often just management of finances and handling money through a structure that creates wealth and a brilliant future. Hard work can create profit but knowing what to do with the profit and with the appropriate tax planning, creates a rich person. <br/>
            | Your Business Angels can help you with the habits that create wealth. <br/>
        span Now all you need to decide is whether you want to be wealthy?
    .padding-x-55
        hr
