include ../../mixin/title.pug
.wrapper-child
    .container-fluid
        +title('Our Approach','Supporting business like yours, who empower business, with thoughtful advice and hassle-free accounting and consulting.','w-80')
        .padding-x-55
            .our-approach
                .row
                    .col-md-6.col-12
                        .image
                            img(src="./assets/imgs/our-approach/our-approach-1.jpg", alt="our-approach-1")
                    .col-md-6.col-12
                        .our-approach__contents
                            p Supporting business like yours, who empower business, with thoughtful advice and hassle-free accounting.
                            a(href="#") Contact us
                    .col-md-6.offset-md-6.col-12
                        .image.image-after
                                img(src="./assets/imgs/our-approach/our-approach-2.jpg", alt="our-approach-2")