
include ../../mixin/title.pug
.container-fluid
    +title('Our clients','It takes all sorts to be in business – but that is why Australia will always have a healthy economy','w-80')
    .our-clients.padding-x-55
        h4 Who are their accounting clients?
        .our-clients__content
            .content
                p Those who really want to get ahead and want the right partner to build a very special business.
            .content
                p Some are entrepreneurial and drive themselves hard, want to take risks and want crafty solutions. These business owners need the team at Your Business Angels because they need hard-working consultants and accountants to find great solutions for them. Not everybody is out to create an empire; some want their business to provide what they need. 
            .content
                p Those who have traditionally had grief with the taxman. There are business owners who struggle with compliance and naturally attract the attention of the taxman. Your Business Angels help these business owners stay compliant, with careful mentoring and continued work on the accounts once we have found a solution to any outstanding tax. 
        .our-clients__content
            .content
                p Others have great ambition, a vision of where they want to take their business. Your Business Angels appreciate and understand that all business owners are different. 
            .content
                p There are many accidental business owners. People who have finished a trade, or specialists in IT, who find work by creating a business to provide their offerings into a consumer or commercial market. 
            .content
                p More and more people need to have an ABN or a company to provide themselves with employment, and more and more people are coming into business without a plan. 
    .content-blue.padding-x-55
        p They have work, and they move forward in life sometimes satisfied and happy with the situation. These business owners need the team at Your Business Angels to make sure everything in compliance and accounting is as it should be. 
    .padding-x-55
        hr