include ../../mixin/title.pug
include ../../mixin/program-solution.pug
.container-fluid
    +title('The right program solution for you','<span>The wrong accounting package will have you drowning in work.</span> The right accounting package will have you succeeding in doing what you should be doing.','w-80')
    +programSolution('./assets/imgs/accounting/accounting-1.jpg','accounting-1','The secret is to get the right solution that helps you identify how your business is, without being bogged down with a system that demands so much. We can help you with a cloud system or use ours.','For small Business owners that don’t want to be tied down with hours of bookwork, Your Business Angels have built software that allows these business owners to have their compliance and accounts and lodgments completed with as little fuss as possible, while being well-informed of their business position, profitability and compliance.','An accounting system that you understand as part of the plan, guidance in support that helps business owners run their business, to make as much profit as possible.')
