include ../../mixin/title.pug
.container-fluid
    +title('Rebuilding the accounts – the big catchup','For all sorts of reasons people get disorientated in getting their accounts up to date. <span>Let Your Business Angels solve that problem.</span>')
    .rebuild-account.padding-x-55
        .content_box
            p 
                | Do not wait until you get a summons for non-lodgement. You don’t need a criminal conviction for not lodging your BAS and tax returns. <br/>
                | “When you add up the cost of penalties, interest and in some cases a criminal conviction, not paying your taxes just doesn’t pay.” It can come as a bit of a shock to realise that by not lodging your taxes you can end up with a criminal conviction.
            span Behind in accounts - To us it looks like an opportunity to help another Australian business get their accounts done and lodged up to date.
        .content_box
            p
                | This gives you a chance to see how the business is going. We help deal with the taxman, and a lot of pressure comes off. <br/>
                | As long as we can obtain all the banks statements for the period that needs to be completed (these can always be reprinted by the bank) and information on buying vehicles, other assets, and payroll, we can set to work and often get years of accounts cleaned up in a very short period. <br/>
                | If you are under pressure from the taxman to lodge, we will talk to him and negotiate on time.
        .content_box
