.wrapper-child
    .container-fluid
        .owl-carousel.owl-theme.padding-x-55
            .item
                .rectangle1
                    img(src="./assets/imgs/item-account.jpg", alt="item-account-1")
                .rectangle2
                    .rectangle_box
                        p.quote “Gavin and the YBA team has given me hope, eliminated stress and genuinely cares about our well-being.” 
                        p.sign YBA Client - Bob’s Building
            .item
                .rectangle1
                    img(src="./assets/imgs/item-account.jpg", alt="item-account-1")
                .rectangle2
                    .rectangle_box
                        p.quote “Gavin and the YBA team has given me hope, eliminated stress and genuinely cares about our well-being.” 
                        p.sign YBA Client - Bob’s Building
            .item
                .rectangle1
                    img(src="./assets/imgs/item-account.jpg", alt="item-account-1")
                .rectangle2
                    .rectangle_box
                        p.quote “Gavin and the YBA team has given me hope, eliminated stress and genuinely cares about our well-being.” 
                        p.sign YBA Client - Bob’s Building

