include ../../mixin/steps.pug
.wrapper-child
    .container-fluid
        .padding-x-55
            .step-we-take
                .step-we-take__title
                    h6 Steps We Take
                +steps("Step One","To start, we work with you to make sure your accounting systems are properly set up. We handle everything from your chart of accounts to a complete documentation of service and sale items with proper tax codes and rates. This allows for on-time data entry and easy financial analysis.")
                +steps("Step Two","To start, we work with you to make sure your accounting systems are properly set up. We handle everything from your chart of accounts to a complete documentation of service and sale items with proper tax codes and rates. This allows for on-time data entry and easy financial analysis.")
                +steps("Step Three","To start, we work with you to make sure your accounting systems are properly set up. We handle everything from your chart of accounts to a complete documentation of service and sale items with proper tax codes and rates. This allows for on-time data entry and easy financial analysis.")
                +steps("You Only Need 4 Steps Gavin","To start, we work with you to make sure your accounting systems are properly set up. We handle everything from your chart of accounts to a complete documentation of service and sale items with proper tax codes and rates. This allows for on-time data entry and easy financial analysis.")