include ../../mixin/title.pug
.container-fluid
    +title('Structures for tax planning','<span>Nothing wrong in minimizing your tax</span> to save your money for future investments. It is about getting the “bundle right”.','w-80')
    .tax-planning.padding-x-55
        .content
            p Those who want to get out on the edge, fly close to the wire and drive their business. When a business sees a brilliant opportunity or has a plan to grow dramatically, it usually means that the owner is going to take that business, as we would say, close to the edge.
        .content
            p Tax planning is for those who can keep an eye on their cash and follow a structure that allows them to stay compliant, have the income they desire, but also allow them to save money by planning what to do with future profit.
        .content
            p If you have financial discipline and a profitable business, (and are prepared to be constantly tactical in your desire to manage your tax), then Your Business Angels will have a crafty plan for you.
