//- include ../../mixin/program-solution.pug
.container-fluid
    .program-solution.padding-x-55
        .row
            .col-lg-4.col-12
                .image.h-100
                    img(src='./assets/imgs/accounting/accounting-2.jpg', alt='accounting-2')
            .col-lg-8.col-12.align-self-center
                .taxman
                    .taxman__title
                        h6 Keeping the taxman in his cage
                    .taxman__subtitle
                        p Staying off the taxman’s radar 
                            span requires a few good habits. 
                            |Let us start those habits.
                    .taxman__contents
                        .row.pt-4.pt-lg-0
                            .col-12.col-md-6.pr-lg-5
                                p The endless tax debt. It is not that big. I just can’t seem to manage it. 
                                p Here is one of the big problems with tax debt. Just when you think you might be ahead, there is another BAS and then another round of interest, and all you do is chase your tail, and have that sinking feeling.
                            .col-12.col-md-6
                                p 
                                    span Your Business Angels has a whole different approach to compliance, which ties in with your cash flow and your monitoring of profit to make sure the money is always there to not only pay the taxman, but to make sure 
                                            |there is a good return for your efforts.
    .padding-x-55
        hr
