extends ./parts/layout.pug

prepend meta
    title Namtech - Home
    
block main-wrapper
    h1.d-none Namtech - Home
    include ./parts/component/block-content.pug
    include ./parts/component/contact.pug
